html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Général */
h1, h2, h3, h4, h5, h6, p, a, span, li{
    font-family: 'Raleway', sans-serif;
    display: block;
}
img{
    height: 20px;
}
span{
    font-weight: bold;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 16px;
    font-weight: bold;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;

    color: black;
}
.evaluation_etoiles i{
    font-size: 12px;
    color: #dbdbdb;
}
.evaluation_etoiles .true{
    color:#0065FC
}

/* Entête */
header{
    margin: 0 50px 50px 50px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
header img{
    height: 40px;
    padding-top: 50px;
}
header a{
    margin-left: 28px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 16px;
}
header .inscription{
    order: 3;
    color: #0065FC;
}
header nav{
    order: 2;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
}
header nav a:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

/* Recherche */
.recherche{
    margin: 0 50px;
}
.recherche p{
    padding-top: 10px;
}
.recherche form{
    width: max-content;
    height: 50px;
    margin-top: 22px;

    border: 1px #F2F2F2 solid;
    border-radius: 20px;

    display: flex;
    align-items: center;
}
.recherche form i{
    font-size: 18px;
    padding: 17px 20px;

    color: black;

    border: none;

    background-color: #F2F2F2;
}
.recherche form .fa-map-marker-alt{
    border-radius: 20px 0 0 20px;
}
.recherche form a i{
    display: none;
}
.recherche input{
    height: 100%;
    padding: 0 18px;
    
    border: none;
}
.recherche .bouton_rechercher{
    border-radius: 0 15px 15px 0;

    font-weight: bold;

    color: white;
    background-color: #0065FC;
}
.recherche .filtres{
    margin-top: 32px;

    display: flex;
    align-items: center;
    flex-flow: wrap row;
}
.recherche .filtres ul{
    display: flex;
    flex-flow: wrap;
}
.recherche .filtres a{
    height: 48px;
    margin-left: 24px;
    padding-right: 16px;

    border: 2px rgb(218, 218, 218) solid;
    border-left: none;
    border-radius: 25px;

    font-weight: bold;

    display: flex;
    align-items: center;

    transition:all 0.3s ease;
}
.recherche .filtres a:hover{
    transform: scale(1.07);
    background-color: #F2F2F2;
}

.recherche .filtres i{
    margin-right: 12px;
    
    font-size: 16px;

    border-radius: 30px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #DEEBFF;
}

.recherche .filtres .fa-money-bill-wave{
    padding: 17px 15px;
}

.recherche .filtres .fa-child{
    padding: 17px 20px;
}

.recherche .filtres .fa-heart{
    padding: 17px 17px;
}

.recherche .filtres .fa-dog{
    padding: 17px 16px;
}

.recherche p{
    padding-top: 36px;
    display: flex;
    align-items: center;
}
.recherche i{
    margin-right: 12px;
    padding: 5px 9px;

    font-size: 12px;
    color: #0065FC;

    border: 1px #dbdbdb solid;
    border-radius: 20px;
}

/* Résultats de la recherche */
.hebergements{
    margin: 0 50px;
    margin-top: 42px;

    display: flex;
    justify-content: space-between;
}

/* Résultats */
.resultats{
    width: 100%;
    margin-right: 40px;
    padding: 50px 40px;

    border-radius: 20px;
    
    background-color: #f2f2f2;
}
.resultats .grille{
    width: 100%;
    height: auto;
    margin: 28px auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 246px);
    justify-content: space-between;
    grid-gap: 30px;
}
.resultats .grille .carte{
    width: 246px;
    height: 200px;
    padding: 5px;

    border-radius: 16px;

    box-shadow: 0 0 10px #dbdbdb;

    background-color: white;
}
.resultats .grille .carte .illustration{
    width: 100%;
    height: 59%;

    object-fit: cover;

    border-radius: 12px 12px 0 0;
}
.resultats .grille .carte .description{
    margin-left: 11px;
}
.resultats .grille .carte .description h2, .resultats .grille .carte .description p, .resultats .grille .carte .description .evaluation_etoiles{
    margin-top: 10px;
}
.resultats .afficher_plus{
    margin-top: 46px;
}

/* Tendances */
.tendances{
    padding: 50px 40px;
    padding-bottom: 0;

    border-radius: 20px;
    
    background-color: #f2f2f2;
}
.tendances h1 img{
    float: right;
}
.tendances .grille{
    width: 100%;
    height: auto;
    margin-top: 28px;

    display: grid;
    grid-template-columns: repeat(1, 343px);
    grid-gap: 33px;
}
.tendances .grille .carte{
    width: 343px;
    height: 144px;
    padding: 5px;

    display: flex;

    border-radius: 16px;

    box-shadow: 0 0 10px #dbdbdb;

    background-color: white;
}
.tendances .grille .carte .illustration{
    width: 37%;
    height: 100%;

    object-fit: cover;

    border-radius: 12px 0 0 12px;
}
.tendances .grille .carte .description{
    margin-left: 20px;
    margin-top: 12px;

    position: relative;
}
.tendances .grille .carte .description p{
    margin-top: 16px
}
.tendances .grille .carte .description .evaluation_etoiles{
    margin-top: auto;

    position: absolute;
    bottom: 8px;
}




/* Activités */
.activites{
    margin: 0 50px;
    margin-top: 68px;
}

.activites .grille{
    margin-top: 28px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 194px 42px 164px;
    grid-gap: 42px;
    grid-template-areas:
    "C1 C2 C4 C5"
    "C1 C2 C4 C6"
    "C1 C3 C4 C6"
    ;
}

.activites .grille .carte{
    display: flex;
    align-items: flex-end;

    border-radius: 16px;

    box-shadow: 0 0 10px #dbdbdb;

    background-size: cover;
    background-position: center;
}
.activites .grille .carte a{
    width: 100%;
    border-radius: 0 0 16px 16px;
}
.activites .grille .carte h2{
    padding: 26px 20px 20px 20px;

    border-radius: 0 0 16px 16px;

    background-color: white;
}
.C1{
    grid-area: C1;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.C2{
    grid-area: C2;
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.C3{
    grid-area: C3;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.C4{
    grid-area: C4;
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.C5{
    grid-area: C5;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.C6{
    grid-area: C6;
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/* Pied de page */
footer{
    margin-top: 60px;
    padding: 50px 50px 28px 50px;

    display: flex;
    flex-flow: row wrap;

    background-color: #F2F2F2;
}
footer ul{
    margin-right: 20%;
    margin-bottom: 50px;
}
footer .titre{
    margin-bottom: 30px;
    font-weight: bold;
}
footer li{
    margin-bottom: 22px;
}





@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .activites .grille{
        margin-top: 28px;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px 100px 250px;
        grid-gap: 42px;
        grid-template-areas:
        "C1 C3 C5"
        "C1 C4 C5"
        "C2 C4 C6"
        ;
    }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    .activites .grille{
        margin-top: 28px;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 100px 200px 100px 250px;
        grid-gap: 42px;
        grid-template-areas:
        "C1 C2"
        "C1 C3"
        "C4 C3"
        "C4 C5"
        "C6 C5"
        ;
    }
}

@media screen and (max-width: 880px) {
    header{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 40px;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "logo inscription"
        "menu menu"
        ;
    }
    header img{
        grid-area: logo;
        padding: 0;
        margin-left: 20px;
    }
    header a{
        margin: 0;
        padding: 0;
    }
    header .inscription{
        grid-area: inscription;
        order:1;
        margin-right: 20px;
        align-self: flex-end;
    }
    header nav{
        margin-top: 40px;
        grid-area: menu;
        justify-content: center;
    }
    header nav ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    header nav ul li{
        width: 100%;
        text-align: center;
    }
    header nav ul li a{
        padding-bottom: 16px;
        border-bottom: 3px #F2F2F2 solid;
    }
    header nav a:hover{
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }

    .recherche{
        margin: 0 20px;
    }
    
    .recherche .bouton_rechercher{
        display: none;
    }
    .recherche form{
        width: 100%;
    }
    .recherche form .search{
        width: 100%;
    }
    .recherche form a i{
        margin: auto;
        padding: 17px 17px;
        
        display: block;

        color: white;
        background-color: #0065FC;
    }

    .hebergements{
        flex-flow: column-reverse;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        width: 100%;
    }

    .resultats{
        width: auto;
        margin: 0;
        padding: 0 20px;
        margin-top: 40px;
        border-radius: 0;
        background-color: white;
    }
    .resultats .grille{
        width: auto;
        grid-template-columns: repeat(1, auto);
        grid-gap: 10px;
        justify-content: initial;
    }
    .tendances{
        padding: 40px 20px;
        border-radius: 0;
    }
    .tendances .grille{
        grid-template-columns: repeat(1, auto);
        grid-gap: 10px;
    }
    .tendances .grille .carte, .resultats .grille .carte{
        width: auto;
    }
    .activites{
        margin: 0 20px;
        margin-top: 60px;
    }
    .activites .grille{
        width: 100%;
        margin-top: 28px;
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-gap: 42px;
        grid-template-areas:
        "C1"
        "C2"
        "C3"
        "C4"
        "C5"
        "C6"
        ;
    }
    footer{
        margin-top: 50px;
    }
  }


  @media screen and (max-width: 1024px) {
    .recherche .filtres li{
        margin-top: 12px;
    }
    .recherche .filtres a{
        margin-left: 0;
        margin-right: 24px;
    }
}